@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');
@import './colors.css';

* {
  --base-color: #efefef;
  --high-color: #ffffff;
  --line-color: #000000;
  --main-font: 'Josefin Sans', sans-serif;
  --main-border: 2px solid #000000;
  font-size: 1.6vw;
  font-family: var(--main-font);
  text-align: center;
  box-sizing: border-box;
  margin: auto;
}

body {
  background: var(--base-color);
}
