@import '../../colors.css';

nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    background: var(--high-color);
    border-top: var(--main-border);
}

a {
    color: var(--line-color);
    text-decoration: none;
}

.menu-item {
    width: 25vw;
    height: auto;
    border: none;
}

.menu-icon {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    font-weight: 300;
    border-radius: 100%;
}

.menu-icon span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: var(--main-border);
    background: #c1c1c1;
    border-radius: 100%;
}

.menu-text {
    font-size: 1.5rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.here {
    color: #c1c1c1;
}

.menu-item.here .menu-icon span {
    border-color: #c1c1c1;
}
